@model List<Story>


@{
    Layout = "~/Views/Shared/_SearchHeader.cshtml";
    ViewData["Title"] = "Stories";
}

<div class="text-storiespage">
    <h4>Feel free to read our fan stories about Junebug or <a asp-action="WriteStory">write one!</a></h4>
</div>


@foreach (FanPage.Models.Story s in Model)
{
<div class="text-box text-storiespage">
    <p>Title:@s.Title</p>
    <p>Author: @s.Writer</p>
    <p>Description: @s.Description</p>
    @{ 
        string url = "StoryPage" + "?title=" + s.Title;
    }
    <a asp-action="StoryPage" asp-route-title="@s.Title">Read</a><!--If something breaks its because of this tag helper-->
  
   
    <!--<p>@s.StoryText</p>-->
    @if (s.Comments.Count > 0)
    {<p>Comments:</p>
        @foreach (Comment c in s.Comments)
        {
            <p>User:@c.User</p>
            <p>@c.CommentText</p>
        }
        int rate=0;
        @foreach(int r in s.Rating)
        {
            rate += r;
        }
        rate=rate/s.Rating.Count;
        <p>Rating:@rate</p>
    }
</div>
}

