@model List<Media>

@{
    Layout = "~/Views/Shared/_Header.cshtml";
    ViewBag.Title = "Books and Media";
}


<p h3>
    Junebug is a very prolifent writer. She has written over 100 books, most of which have won awards!
    Have a look at her selected work below!
</p>


@foreach (FanPage.Models.Media m in Model)
{
<div class="text">
    <p>
        <img src="@m.ImagePath" alt="@m.Title" class="book-img">
        <div>Title: @m.Title </div>
        <div>Media Type: @m.Type</div>
        <div>Description: @m.Description</div>
    </p>
</div>
}


